.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b1d0e;
  border-bottom: 3px solid #d4af37;
  padding: 10px 25px;
}

.links {
  display: flex;
  gap: 40px;
}

a {
  color: #f5d77b;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s, text-shadow 0.3s;
}

a:hover {
  color: #ffd700;
  text-shadow: 0 0 6px #ffcc00;
}

a.ativo {
  text-decoration: underline;
  color: #fff;
  font-weight: bold;
}

/* botão de tema dentro do menu */
app-theme-toggle {
  margin-left: auto;
}
